@import "colors";

:host {
  .ditc-top-bar {
    position: relative;
    overflow: hidden;

    width: 100%;
    min-height: 5.625rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7.5rem;

    &-background {
      background-color: $primaryBackgroundColor;

      width: 100%;
      position: fixed;
      top: 0;
      z-index: 3;
      overflow: hidden;
    }

    &__menu-items {

      display: flex;

      &-right {
        display: flex;
        align-items: center;
      }

      & > a {
        width: 7.5rem;

        text-align: center;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.75rem;

        &:-webkit-any-link {
          text-decoration: unset;
        }
      }
    }
  }
}
