:host {
  .ditc-services-section {
    padding: 2.5rem 0 4rem 0;

    text-align: center;

    background-color: #242729;

    h3 {
      margin-bottom: 3rem;
    }

    &__services {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__service {

    }
  }
}
