@import "colors";

:host {
  width: 100%;
  height: 100%;

  border-radius: 5px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  overflow: hidden;

  &:hover {
    .ditc-card{
      &__inner {
        transform: rotateY(180deg);
      }

      &__new {
        display: none;
      }
    }
  }

  .ditc-card {
    &__inner {
      position: relative;

      width: 100%;
      height: 100%;

      transition: transform 0.8s;
      transform-style: preserve-3d;

      &-content {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        position: absolute;

        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;

        &-back {
          transform: rotateY(180deg);
        }
      }
    }

    &__new {
      background-color: $primaryColor;

      text-align: center;
      color: $secondaryColor;
      font-weight: bold;

      transform: rotate(-45deg);

      position: absolute;
      top: .75rem;
      left: -1.25rem;

      width: 30%;
    }
  }
}
