:host {

  .ditc-partners-section {
    padding: 2.5rem 9.75rem 5.25rem 9.75rem;

    text-align: center;

    background-color: #f2f2f2;

    h3 {
      margin-bottom: 3rem;
    }

    &__partners {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__partner {
      background-color: #C4C4C4;

      height: 4.125rem;
      width: 12.25rem;
    }
  }
}
