:host {
  .ditc-service {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 1.5rem; // 24px
    color: #FFFFFF;

    &__title {
      padding-bottom: 1.75rem; // 28px
    }

    &__icon {
      width: 6.75rem;
      height: 6.75rem;
      font-size: 4rem; // 64px
      color: #0E9AD7;

      padding: 1.5rem; // 24px
      border: #FFFFFF .375rem solid;

      display: flex;
      justify-content: center;
      align-items: center;

      margin-bottom: 1rem; // 16px
    }

    &__description {
      margin-bottom: 3.25rem; // 52px
    }
  }
}
