@font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icons/icomoon.eot?q2tfrh');
  src:  url('/assets/fonts/icons/icomoon.eot?q2tfrh#iefix') format('embedded-opentype'),
    url('/assets/fonts/icons/icomoon.ttf?q2tfrh') format('truetype'),
    url('/assets/fonts/icons/icomoon.woff?q2tfrh') format('woff'),
    url('/assets/fonts/icons/icomoon.svg?q2tfrh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-server:before {
  content: "\e900";
}
.icon-infrastructure:before {
  content: "\e901";
}
.icon-web-development:before {
  content: "\e902";
}
.icon-mobile-app:before {
  content: "\e903";
}
.icon-analysis:before {
  content: "\e904";
}
.icon-backend:before {
  content: "\e905";
}
