/* You can add global styles to this file, and also import other style files */

@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;

  margin: 0;
  border: 0;
  padding: 0;

  font-family: 'Teko', sans-serif;
  letter-spacing: 0.05em;
}

html body {

  font-size: 16px;

  background: linear-gradient(180deg, #f2f2f2 0%, rgba(196, 196, 196, 100%));
  // opacity: .3;
  // transform: matrix(1, 0, 0, -1, 0, 0);
}

a:-webkit-any-link {
  color: unset;
}

.ditc {

  &-title {
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 3.25rem;
    color: $primaryColor;

    position: relative;

    &::before {
      content: '> ';
      // position: absolute;
      // left: 0;
    }

    &:first-letter {
      margin-left: -2.3rem;
    }
  }

  &-body {
    font-weight: 400;
    font-size: 2.5rem; // 40px
    line-height: 3rem; // 48px
    color: #242729;
  }

  &-button-primary {
    background-color: $primaryColor;

    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: $secondaryColor;

    border: unset;
    border-radius: 5px;

    height: 2.25rem;
    min-width: 10.75rem;
    padding: 0 1.5rem;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    cursor: pointer;
  }

  &-container {
    margin-left: auto;
    margin-right: auto;
    display: flow-root;
    max-width: 1440px;
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &__row {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-wrap: wrap;
    }

    &__col {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: .5rem;

      &-3 {
        flex-basis: 33.333%;
      }

      &-4 {
        flex-basis: 25%;
      }
    }
  }
}
