@import "colors";

:host {
  .ditc-about-me {
    width: 100%;
    padding: 9.25rem 9.75rem 0 9.75rem;
    display: block;

    &__row {
      position: relative;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      margin-bottom: 8.5rem; // 136px
    }

    &__presentation {
      flex-wrap: wrap-reverse;
    }

    &__code-sample {

    }

    &__programming-image {
      // Must be equal to title + margin height
      margin-top: 7.5rem; // 120px

      max-width: 35.5rem;
      max-height: 24.75rem;

      box-shadow: 10px 10px 20px rgba(#000000, .3);

      background-color: $primaryBackgroundColor;
    }
  }

  .ditc-home__my-self {
    width: 100%;
    padding: 4.25rem 9.75rem;

    display: flex;
    justify-content: space-between;
  }

  .ditc-home__title {
    font-weight: 500;
    font-size: 3.125rem;
    line-height: 3.25rem;
    color: #0E9AD7;

    &:first-letter {
      margin-left: -2.3rem;
    }
  }

  .ditc-home__body {
    font-weight: 400;
    font-size: 2.5rem; // 40px
    line-height: 3rem; // 48px
    color: #242729;
  }

  .ditc-home__card {
    max-width: 40.25rem; // 644px
    box-shadow: 10px 10px 20px rgba(#000000, .3);

    background-color: $primaryBackgroundColor;

    display: flex;
  }

  .ditc-home__code {
    font-weight: 500;
    font-size: 1.875rem; // 30px
    line-height: 2.5rem; // 40px
    color: #000000;

    display: flex;
    flex-direction: column;
    padding: 1rem 0;

    &-lines-number {
      background-color: rgba(#56CCF2, .5);
      text-align: center;

      * {
        width: 4rem;
      }
    }

    &-tag {
      color: #D02AC8;
    }

    &-class {
      color: #1F1EFF;

      &-name {
        color: #229A21;
      }
    }

    &-comment {
      color: #BDBDBD;
    }
  }

  .ditc-home__body-2 {
    line-height: 3rem; // 48px
  }
}
