
:host {
  .contact-section {
    &__input {
      &-field {
        border: 1px solid #e5e5e5;
        height: 2.5rem;
        width: 100%;
      }

      &-label {
        display: block;
      }
    }
  }
}
