<form id="contact-form" class="ditc-grid-vertical" [formGroup]="form">

  <div class="ditc-grid-col contact-section__input">
    <label class="contact-section__input-label" for="full-name-filed" i18n>Full name*</label>
    <input class="contact-section__input-field" id="full-name-filed" type="text" formControlName="fullName">
  </div>

  <div class="ditc-grid-col contact-section__input">
    <label class="contact-section__input-label" for="vat-number-filed" i18n>Vat number</label>
    <input class="contact-section__input-field" id="vat-number-filed" type="text" formControlName="vatNumber">
  </div>

  <div class="ditc-grid__row">
    <div class="ditc-grid-col contact-section__input">
      <label class="contact-section__input-label" for="budget-filed" i18n>Budget</label>
      <input class="contact-section__input-field" id="budget-filed" type="text" formControlName="budget">
    </div>

    <ng-container formGroupName="contact">
      <div class="ditc-grid-col contact-section__input">
        <label class="contact-section__input-label" for="contact-email-filed" i18n>Email*</label>
        <input class="contact-section__input-field" id="contact-email-filed" type="email" formControlName="email">
      </div>

      <div class="ditc-grid-col contact-section__input">
        <label class="contact-section__input-label" for="contact-phone-number-filed" i18n>Phone number*</label>
        <input class="contact-section__input-field" id="contact-phone-number-filed" type="tel" formControlName="phoneNumber">
      </div>
    </ng-container>
  </div>

  <button class="ditc-button-primary" form="contact-form" type="submit" i18n>Send</button>
</form>
