
$primaryColor: #0E9AD7;
$secondaryColor: #FFFFFF;

$primaryBackgroundColor: $secondaryColor;
$secondaryBackgroundColor: $primaryColor;

$primaryButtonColor: $primaryColor;
$secondaryButtonColor: $secondaryColor;
