
:host {
  .ditc-container {
    padding: 5.25rem;
  }

  .ditc-contact-section {
    font-size: 1.875rem; // 30px
    font-weight: 400;
    line-height: 2.5rem; // 40px
    text-align: center;

    display: flex;
    flex-direction: column;

    background-color: #F2F2F2;

    h3 {
      margin-bottom: 3rem;
    }
  }
}
