:host {
  .ditc-code-editor {
    font-weight: 500;
    font-size: 1.875rem; // 30px
    line-height: 2.5rem; // 40px
    color: #000000;

    display: flex;

    &__lines-counter {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;

      background-color: rgba(#56CCF2, .5);
      text-align: center;

      * {
        width: 4rem;
      }
    }

    &__code-lines {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
    }

    &__tag {
      color: #D02AC8;
    }

    &__id, &__class {
      color: #1F1EFF;
    }

    &__id-name, &__class-name, &__reference {
      color: #229A21;
    }

    &__comment {
      color: #BDBDBD;
    }
  }
}
