@import "colors";

:host {
  .ditc-home__introduction {
    background-image: url("/assets/images/programming.png");

    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2rem;
    color: #0E9AD7;
    text-align: center;

    // Top app bar height
    margin-top: 5.625rem;
    min-height: 17rem;
    width: 100%;
    position: relative;

    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;

    &-overlay {
      background-color: rgba(#000000, .6);

      // padding: 8.5rem 0;
      max-height: 17rem;

      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &-content {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-logo {
      position: absolute;
      bottom: -3.5rem;

      &-container {
        position: absolute;
        bottom: 0;

        width: 24.25rem;
        height: 5.125rem;

        background-color: $primaryBackgroundColor;
        transform: skew(20deg);
      }
    }
  }
}
